.welcome {
    border-radius: 0.5rem;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px rgb(204, 203, 203);
    width: fit-content;
    padding: 2rem;
}

.welcome h2 {
    text-align: center;
}

.user-info {
    font-size: 1.5rem;
}
.logout {
    text-align: center;
}