<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Nhà tuyển dụng</h1>
    <a th:href="@{/employer-form}">Thêm nhà tuyển dụng</a><br>
    <a th:href="@{/employer-list}">Danh sách nhà tuyển dụng</a><br>

    <h1>Việc làm</h1>
    <a href="">Tạo việc làm</a><br>
    <a href="">Danh sách việc làm</a><br>

    <h1>Ứng viên</h1>
    <a href="">Thêm ứng viên</a><br>
    <a href="">Danh sách ứng viên</a><br>
</body>
</html>