<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home Page</h1>

<th:block sec:authorize="not isAuthenticated()">
    <form th:action="@{/login}" method="post">
        <button>Đăng nhập</button>
    </form>
</th:block>

<th:block sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <button>Đăng xuất</button>
    </form>
</th:block>

<h2>Hello: <span th:text="${#authentication.name}"></span></h2>

<ul>
<!--    <li sec:authorize = "hasAnyRole('ADMIN','AUTHOR')">-->
<!--        <a th:href="@{/profile}">Profile Page</a>-->
<!--    </li>-->
    <li>
        <a th:href="@{/dashboard}">Xem Dashboard</a>
    </li>
    <li>
        <a th:href="@{/user-list}">Xem danh sách user</a>
    </li>
    <li>
        <a th:href="@{/product-list}">Xem danh sách sản phẩm</a>
    </li>
    <li>
        <a th:href="@{/post-list}">Xem danh sách bài viết</a>
    </li>
    <li>
        <a th:href="@{/profile}">Xem thông tin cá nhân</a>
    </li>
</ul>

</body>
</html>